@charset "ISO-8859-1";

/* Estilo para o container do menu */
.container-menu {
    width: 50%;
    background: rgba(232, 232, 232, 0.5); /* Cor de fundo do menu */
    position: relative; /* Fixar no topo da página */
    top: 0;
    left: 25%;
    z-index: 1000; /* Garantir que o menu fique acima de outros elementos */
    border-radius: 1rem;
}

/* Estilo para o header do menu */
.header-menu {
    display: flex;
    justify-content: center; /* Centralizar o conteúdo horizontalmente */
    align-items: center; /* Centralizar o conteúdo verticalmente */
    height: 40px; /* Altura do menu */
}

/* Estilo para os ícones do menu */
.header-menu-icons .a {
    color: white; /* Cor do texto */
    text-decoration: none; /* Remover sublinhado */
    padding: 0 15px; /* Espaçamento entre os links */
    font-size: 18px; /* Tamanho da fonte */
    transition: color 0.3s ease; /* Transição suave para a mudança de cor */
}

/* Efeito ao passar o mouse sobre os links */
.header-menu-icons .a:hover {
    color: #f0f0f0; /* Cor do texto ao passar o mouse */
}

